<link rel="stylesheet" href="components/modal/alert-modal/alert-modal.css" />

<div id="alert-wrap" class="alert-wrap" style="display: none">
  <div class="alert-card">
    <h3 id="alert-head" class="alert-head">Notice</h3>
    <p id="alert-body" class="alert-body">Message goes here.</p>

    <div class="alert-btns">
      <button id="alert-no" class="btn-cancel" style="display: none">
        Cancel
      </button>
      <button id="alert-yes" class="btn-confirm">OK</button>
    </div>
  </div>
</div>
