.top-nav {
  display: grid;
  grid-template-columns: 7.5rem 1fr 7.5rem;
  align-items: center;
  background-color: rgb(0, 0, 0);
  padding: 1rem 1.5rem;
  border-radius: 100px;
  margin: 0rem 2rem;
  margin-top: 1rem;
}

.top-nav-brand {
  font-size: 1.4rem;
  font-weight: 800;
  letter-spacing: -0.03125rem;
  color: #ffffff;
}

.top-nav-links {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.top-nav-links li {
  margin: 0 0.15rem;
}

.top-nav-links a {
  text-decoration: none;
  color: #b0b0b0;
  font-size: 0.95rem;

  padding: 0.75rem 1.25rem;
  border-radius: 0.75rem;
  transition: all 0.2s ease-in-out;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
}

.top-nav-links a:hover:not(.disabled-nav) {
  background-color: rgba(255, 255, 255, 0.15);
  color: #ffffff;
}

.top-nav-links a.active {
  color: #dff1f5;
  background-color: transparent;
}

.disabled-nav {
  cursor: not-allowed;
  opacity: 0.5;
}
