<nav class="top-nav">
  <div class="top-nav-brand">
    IDEAL
  </div>
  
  <ul class="top-nav-links">
    <li>
      <a href="#" class="nav-btn active" 
         data-target="frames/pos/pos.html" 
         data-script="frames/pos/pos.js" 
         data-style="frames/pos/pos.css">Register</a>
    </li>
    <li>
      <a href="#" class="nav-btn" 
         data-target="frames/inventory/inventory.html" 
         data-script="frames/inventory/inventory.js" 
         data-style="frames/inventory/inventory.css">Inventory</a>
    </li>

    <li>
      <a href="#" class="nav-btn" 
         data-target="frames/recent-orders/recent-orders.html" 
         data-script="frames/recent-orders/recent-orders.js" 
         data-style="frames/recent-orders/recent-orders.css">Sales History</a>
    </li>
    <li>
      <a href="#" class="nav-btn" 
         data-target="frames/supplier/supplier.html" 
         data-script="frames/supplier/supplier.js" 
         data-style="frames/supplier/supplier.css">Incoming Stock</a>
    </li>

  </ul>
  
  <div class="top-nav-spacer"></div>
</nav>